body {
    background-color: rgb(240, 240, 240);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
    margin-left: 300px;
    width: 700px;
}

.pfp {
    position: absolute;
    width: 200px;
    right: 330px;
    top: 310px;
    object-fit: cover;
}

@keyframes fadein {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

body {
    animation: fadein 2s;
}

#language-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}